.color {
    border: 3px solid red;
}
a, a:active, a:visited {
    color: purple;
    text-decoration: none;
}

ul {
    list-style: none;
}

.hash > ul > li {
    float: right;
    background-color: blue;
    color:  white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 10px;
    
}