.float_left {
    width: 30%;
    background-color: blanchedalmond;
    float: left;
}
.color_box {
    border: 3px solid black;
    width: 300px;
    clear: left;
}
p{
    clear: both;
    float: auto;
}