.home {
    
    max-width: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: mediumturquoise;>
    text-align: center;
}

.home:link, .home:visited {
    color: black;
    text-decoration: none;
    background-color: mediumturquoise;
    padding: 10px 20px;
}
.home:hover {
    background-color: plum;
}
/*맨 나중에 지정된 값만 바뀜*/

h1 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}